$text-color: #ffffff;
$background-color: #0e0c15;
$primary-block-color: #121825;
$primary-border-color: #313e62;
$primary-auth-color: #222b44;
$primary-border-bright-color: #616d8d;
$button-bg-color: #1c64f2;
$border-radius: 18px;
$padding: 20px 16px;
